@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body{
	font-family: 'Nunito', sans-serif;
	font-size: 16px;
	color: #000;
	line-height: 1.3;
	padding: 0;
	margin: 0;
}
a{
	display: block;
	text-decoration: none;
}

.container{
	width: 1140px;
	margin: 0 auto;
}
.container .title-block{
	text-align: center;
	margin: 50px 0;
}

/*BUTTONS START*/
#myBtnContainer{
	background-color: #f0f0f0;
	padding: 50px 20px;
	display: flex;
	justify-content: center;
	align-items: center; 
	flex-wrap: wrap;
	margin-bottom: 30px;
	animation: animate .3s forwards 0s ease-in;
}

#myBtnContainer .btn{
	font-size: 16px;
	color: #fff;
	line-height: 1.3;
	background-color: #673ab7;
	border-radius: 3px;
	border: none;
	box-shadow: 0 0 15px 0 rgba(103,58,183,.7);
	cursor: pointer;
	padding: 8px 18px;
	margin: 12px;
}


/*GALLERY START*/
#gallery{
	background-color: #f0f0f0;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
#gallery .filterDiv{
	display: none;
}
#gallery .show{
	display: block;
}
#gallery .card{
	background-color: #fff;
	max-width: 20%;
	border: 1px solid #ddd;
	box-shadow: 0 0 15px 0 rgba(0,0,0,.3);
	border-radius: 3px;
	padding: 0;
	margin: 15px;
	position: relative;
	transition: all .3s ease;
}
#gallery .card a{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: transparent;
	color: #fff;
	font-size: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 99;	
	opacity: 0;
	transition: all .3s ease-in-out;
	pointer-events: none;
}
#gallery .card:hover a{
	pointer-events: auto;
	opacity: 1;
	background-color: rgba(0,0,0,.8);
}

#gallery .card .img-block{
	line-height: 0;
}

#gallery .card .img-block img{
	max-width: 100%;
	width: 100%;
	height: auto; 
}

#gallery .card .card-body{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 20px 30px;
	background-color: #673ab7;
	text-align: center;
	z-index: 999;
}

#gallery .card .card-body h3{
	font-size: 18px;
	color: #fff;
	line-height: 1.3;
	text-transform: uppercase;
	padding: 0;
	margin: 0;
}


@keyframes animate{
    0%{
        transform: rotate(0) scale(1) translateX(0) translateY(-30%);
        }
    100%{
        transform: rotate(0) scale(1) translateX(0) translateY(0);
        }
}